body {
	background-color: black;
	color: white;
	font-family: 'Rubik', sans-serif;
}

/* The animation code */
@keyframes show-header {
  0% {
	  color: black;
	  border-radius: 0;
	  opacity: 0.0;
	  margin-top: 2px;
	  margin-bottom: 1px;
  }
  10%{
	  margin-top: 0;
	  margin-bottom: 0;
	  border: 1px solid white;
  }
  25% {
	  opacity: 0.45;
  }
  50% {
	  color: white;
	  border-radius: 25px;
	  border: 1px solid white;
	  margin-top: 0;
	  margin-left: 1.5em;
	  margin-right: 1.5em;
	  opacity: 0.95;
  }
  75% {
	  opacity: 0.45;
  }
  90% {
	  margin-top: 0;
	  margin-bottom: 0;
	  border: 1px solid white;
  }
  100% {
	  color: black;
	  border-radius: 0;
	  opacity: 0.0;
	  margin-top: 2px;
	  margin-bottom: 1px;
  }
}

@keyframes show-card {
	from {
		background-color: white;
		opacity: 0.0;
	}
	to {
		background-color: black;
		opacity: 1.0;
	}
}

h1.header {
	z-index: 1;
	font-size: 128px;
	text-align: center;
	opacity: 1.0;
	background-color: black;
	animation-name: show-header;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: forward;
	border-radius: 25px 25px 0 0;
	margin-top: 12px;
	margin-bottom: 12px;
	color: white;
}

div.card {
	font-size: 36px;
	animation-name: show-card;
	animation-duration: 7s;
	background-color: black;
	color: white;
	margin-top: 0;
	margin-bottom: 12px;
	display: flow-root list-item;
	border-bottom: 1px solid white;
	padding-left: 12px;
}

div.about {
	font-size: 36px;
	background-color: black;
	color: white;
	margin-top: 0;
	margin-bottom: 12px;
	display: flow-root list-item;
	padding-left: 12px;
}

img {
	margin: 15px;
}

h2 {
	padding: 0 0 0 18px;
}

div.bottom {
	font-size: 24px;
	background-color: black;
	border-radius: 0 0 25px 25px;
	margin-top: 12px;
	padding-left: 12px;
	padding-bottom: 6px;
}