body {
	background-color: #0E0E0E;
	color: white;
	font-family: 'Rubik', sans-serif;
}

div {
    margin-left: -10px;
    margin-right: -10px;
}

div.header {
	font-size: 64px;
	text-align: center;
	background-color: black;
	color: white;
}

div.header:hover {
    color: #D9376D;
}


div.card {
	font-size: 24px;
	background-color: black;
	color: white;
	margin-top: 40px;
	padding-left: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
    display: flex;
}

div.card:hover {
    color: #D9376D;
}

div.description {
    margin-left: 25px;
}

img {
	width: 270px;
    height: 270px;
    margin-left: 5px;
    border-radius: 50%;
}

div.bottom {
	font-size: 22px;
	background-color: black;
	padding-left: 12px;
	padding-bottom: 6px;
}

div.modal {
	font-size: 36px;
	position: fixed;
	background-color: black;
	margin: 7%;
	padding: 5%;
	border: 1px solid #888;
	width: 76%;
	text-align: -webkit-center;
	box-shadow: 0px 0px 350px green;
	z-index: 1;
	border-radius: 15px;
	border: solid green;
}

div.modal:hover {
	border: solid #D9376D;
	box-shadow: 0px 0px 350px #D9376D;
}

div.modal-button {
	font-size: 32px;
	background-color: green;
	width: 20%;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 15px;
	margin-top: 75px;
	margin-bottom: -50px;
}

div.modal-button:hover {
	background-color: #D9376D;
}

.blur {
	filter: blur(15px);
}
